{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Purger les annonces - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    {% if purgeAdverts != 0 %}
        <p>{{ purgeAdverts }} annonce(s) supprimé(s)</p>
    {% else %}
        <p>Pas d'annonces à purger !</p>
    {% endif %}
{% endblock %}
